        
    *{
        margin:0;
        border:0;
        box-sizing: border-box;
    }
    .container{
        margin:12vh auto;
        text-align: center;
        justify-content:center;
        border:1px solid green;
        width:350px;
        height:max-content;
        background-color:blueviolet;
        border-radius: 22px;
    }
    input[type="text"]{
        background-color: #00ffa6;
        padding:12px;
        border-radius:32px;
        margin-bottom: 12px;
        outline: none;
    }
    h1{
        color: #ffffff;
        margin:12px auto 12px -32px
    }
    .container3{
        display:flex;
        justify-content: space-evenly;
    }